.nav{
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem{
    margin-left: 40px;
}

.navItem-link{
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}